#title-home {
  font-size: 44px;
  font-family: poppins;
}

.btn {
  width: 150px;
  padding: 10px 0px;
  cursor: pointer;
  background-color: $btn-background;
  color: white;
  display: block;
  margin-top: 10px;
}
