.btn {
  width: 125px;
  padding: 10px 0px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;

  &.btn-purple {
    background-color: purple;
    color: white;
  }

  &.btn-yellow {
    background-color: yellow;
  }

  &.btn-blue {
    background-color: blue;
    color: white;
  }
}
